@charset "UTF-8";


header nav div {
	text-align: right; 
	font-size: 13px;
}
header nav {
	background-color: pink;
}
header nav li {
	list-style-type: none;
	display: inline;
	margin: 74px;
}
#title {
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.top-menu-text{
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

