@charset "UTF-8";

nav div {
	text-align: right; 
	font-size: 13px;
}
nav {
	background-color: pink;
}
nav li {
	list-style-type: none;
	display: inline;
	margin: 74px;
}
#title {
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.top-menu-text{
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
table {
	text-align: center;
	width: 100%;
	padding: 10px;
	border-style: solid;
	border-collapse: collapse;
}

.cell-border {
	border: 1px solid black;
}

.cell-bottom-border {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}