@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* 배경제외 모두80% */
.scaled-header-content {
  transform: scale(0.8);
}
.soft-header {
  background-color: #E4D9C7 ;
  border-bottom: 1px solid #d8cfc1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  padding: 5px 0;
  height: 100px;
}
/* 상단 로그인/회원가입 */
.soft-top-links {
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;   /*로그인  라인 로고메뉴바 라인 상하 간격 */
}

.soft-top-links a {
  color: #6b4c2f;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.soft-top-links a:hover {
  color: #b58143;
}

/* 메인 로고와 내비게이션 */
.soft-main-header {
  position: relative;
  height: 50px;
}

/* 로고 */
.soft-logo {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #6b4c2f;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.soft-logo a {
  text-decoration: none;
  color: inherit;
}

/* 양쪽 메뉴 */
.soft-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 50px;
  font-size: 19px;
}
/*호텔찾기 호텔소개*/
.soft-nav.left {
  left: 50px;
  gap: 100px;
}
/*예약하기 예약확인*/
.soft-nav.right {
  right: 50px;
  gap: 100px;
}
/*호텔찾기 호텔소개 예약하기 예약확인 공통*/
.soft-nav a {
  color: #6b4c2f;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.soft-nav a:hover {
  color: #b58143;
  transform: scale(1.05);
}
